{:+ {:app {"cmd-alt-left" [:tabs.prev]
           "cmd-alt-right" [:tabs.next]

           "cmd-shift-c" [:toggle-console]
           "ctrl-w" [:workspace.show]
           "ctrl-c" [:show-connect]
           "cmd-shift-p" [:show-commandbar]

           "ctrl-l" [:clear-console]
           "ctrl-shift-l" [:clear-inline-results]

           "ctrl-1" [:tabset.close]
           "ctrl-2" [:tabset.new :tabs.move-next-tabset]

           "ctrl-n" [:tabset.next]

           }

     :editor {"alt-w" [:editor.watch.watch-selection]
              "alt-shift-w" [:editor.watch.unwatch]

              "ctrl-e" [(:paredit.select.parent "(") (:eval.custom "(macroexpand-1 '__SELECTION__)" {:result-type :inline})]

              "ctrl-shift-up" [:paredit.shrink.left]
              "ctrl-shift-down" [:paredit.shrink.right]
              "ctrl-shift-left" [:paredit.grow.left]
              "ctrl-shift-right" [:paredit.grow.right]
              "ctrl-enter" [(:paredit.select.parent "(") :eval-editor-form :paredit.select.clear]
              "ctrl-s" [:paredit.select.parent]

              "cmd-esc" [:eval.cancel-all!]
              "cmd-," [:toggle-comment-selection]

              "ctrl-j" [(:eval.custom "*ns*")]

              }}}
